{
    "printWidth": 120,
    "singleQuote": false,
    "trailingComma": "none",
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.md", "*.mdx", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"]
}
