---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import PostPreview from "../components/PostPreview.astro";
import siteConfig from "../data/site-config";
import { sortItemsByDateDesc, filterDrafts } from "../utils/data-utils";

const posts = filterDrafts(await getCollection("blog")).sort(sortItemsByDateDesc);
const featuredPosts = posts.filter(({ data }) => data.featured);
---

<BaseLayout title={siteConfig.title} description={siteConfig.description} pageType="website" noindex={false}>
    {
        featuredPosts?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h2 class="font-serif text-2xl italic sm:text-2xl sm:mb-8 ">Selected Writings</h2>
                {featuredPosts.map((post) => (
                    <PostPreview post={post} class="mb-6 sm:mb-8" headingLevel="h3" />
                ))}
                <div class="mt-10 sm:mt-12">
                    <Button href="/blog">View All Posts</Button>
                </div>
            </div>
        )
    }
</BaseLayout>
