---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.page-description {
    color: #585858;
    font-size: 110%;
}
// category tags
.category-tags {
  margin-top: .25rem !important;
  margin-bottom: .25rem !important;
}

.post-meta-title{
  margin-top: .25em;
  margin-bottom: .25em;
}

.category-tags-icon {
  font-size: 75% !important;
  padding-left: 0.375em;
  opacity: 35%;
}
.category-tags-link {
  color:rgb(136, 39, 39) !important;
  font-size: 80% !important;
}