---
import siteConfig from "../data/site-config";
---

<header class="mx-auto mb-12 w-full max-w-3xl sm:mb-16">
    <div class="flex flex-row items-end gap-4">
        <a class="text-theme-foreground font-serif text-2xl font-medium leading-tight sm:text-4xl" href="/">
            {siteConfig.title}
        </a>
    </div>
    {siteConfig.subtitle && <p class="ml-16 mt-1 text-sm leading-tight">{siteConfig.subtitle}</p>}
</header>
