---
import {marked} from 'marked';
import siteConfig from "../data/site-config";
const hero = siteConfig.hero;
---
{
  hero?.title && (
  <section class="w-full flex flex-col gap-8 mb-16 sm:mb-24">
    <h2 class="text-2xl leading-tight font-serif sm:text-3xl sm:leading-tight">
        {hero.title}
    </h2>
    {hero?.text && (
      <div class="prose prose-blog sm:prose-lg" set:html={marked(hero.text)}></div>
    )}
  </section>
  )
}
