---
import NavLink from "./NavLink.astro";
import siteConfig from "../data/site-config";
import ThemeToggle from "./ThemeToggle.astro";

const navLinks = siteConfig.headerNavLinks || [];
---

<nav>
    {
        navLinks.length > 0 && (
            <ul class="flex flex-row items-center gap-6">
                {navLinks.map((link) => (
                    <li>
                        <NavLink
                            class="text-main font-serif text-base hover:underline hover:decoration-1 hover:underline-offset-2"
                            href={link.href}
                        >
                            {link.text}
                        </NavLink>
                    </li>
                ))}
                <div class="ml-auto">
                    <ThemeToggle />
                </div>
            </ul>
        )
    }
</nav>
