---
import { ClientRouter } from "astro:transitions";
import BaseHead, { type Props as HeadProps } from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";

export type Props = HeadProps;

const { ...head } = Astro.props;
---

<!doctype html>
<html lang="en" class="break-words antialiased">
    <head>
        <BaseHead {...head} />
        <script>
            if (localStorage.theme === "dark") {
                document.documentElement.classList.add("dark");
            }
        </script>
        <ClientRouter />
    </head>
    <body class="bg-main text-main">
        <div class="flex min-h-screen flex-col px-4 md:px-8">
            <div class="mx-auto w-full max-w-3xl pb-12 pt-4 sm:pb-16 md:pt-8">
                <div class="flex flex-col gap-6 md:flex-row md:items-center md:justify-between">
                    <Header />
                    <Nav />
                </div>
            </div>
            <main class="mx-auto w-full max-w-3xl grow">
                <slot />
            </main>
            <Footer />
        </div>
        <script>
            // Autoplay videos when scrolled into view
            const observer = new IntersectionObserver(
                (entries) => {
                    entries.forEach((entry) => {
                        const video = entry.target as HTMLVideoElement;
                        if (entry.isIntersecting) {
                            video.play();
                        } else {
                            video.pause();
                        }
                    });
                },
                { threshold: 0.75 }
            );
            document.querySelectorAll("video[data-autoplay]").forEach((video) => {
                observer.observe(video);
            });
        </script>
    </body>
</html>
